.tabuleiro
{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

#cavalo
{
    width: 30px;
    position: absolute;
    animation: anda-cavalo 15s infinite;
}

@keyframes anda-cavalo
{
    0%{top: 17px; left: 799px;}
    4%{top: 145px; left: 799px;}
    8%{top: 145px; left: 859x;}
    12%{top: 145px; left: 859px;}
    16%{top: 267px; left: 859px;}
    20%{top: 267px; left: 799px;}
    24%{top: 392px; left: 799px;}
    28%{top: 392px; left: 736px;}
    32%{top: 392px; left: 859px;}
    36%{top: 332px; left: 859px;}
    40%{top: 455px; left: 859px;}
    44%{top: 455px; left: 799px;}
    48%{top: 455px; left: 799px;}
    52%{top: 455px; left: 799px;}
    56%{top: 455px; left: 859px;}
    60%{top: 332px; left: 859px;}
    64%{top: 392px; left: 859px;}
    68%{top: 392px; left: 736px;}
    72%{top: 392px; left: 799px;}
    76%{top: 267px; left: 799px;}
    80%{top: 267px; left: 859px;}
    84%{top: 145px; left: 859px;}
    88%{top: 145px; left: 859x;}
    92%{top: 145px; left: 799px;}
    94%{top: 17px; left: 799px;}
    100%{top: 17px; left: 799px;}
}